@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-image: url('../resources/medical-conference.jpeg');
    background-size: cover;
    height: auto;
}

h1 {
    font-weight: 900;
    font-size: 6rem;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 1400px;
    max-height: 2000px;
    margin: auto;
}


#header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    color: #fff;
}

#podcast {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
}

#banners{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    background-color:#fff;
    justify-content: center;
    max-height: 500px;
}

#medical-banners {
    display: flex;
    justify-content: center;
}

#medical-banners img{
    max-width: 640px;
    min-width: 500px;
    max-height: 250px;
}

#sponsor-banners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Screen Sizes 500px and Up */
@media (min-width: 500px) {
    iframe {
        width: 100%;
    }

    #landing {
      display: flex;
      height: 100%;
    }
  
    #header {
      height: 100vh;
    }
  }